.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:black;
    color: #f2f2f2;
}

/* Css Style Sheet for navbar used for multiple pages  */